.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }
  
  .flex-container_1 {
    display: flex;
    background-color: DodgerBlue;
    flex-direction: row; /*flex 정렬바꾸기, 기본값이row */
    justify-content: space-between; 
    /* end : 좌우로 창을 움직여도 오른쪽에 존재
       start : 맨앞에 존재 
       center : 가운데 존재 
       space-around : 양쪽 간격 맞춰서 알아서 정렬 
       space-between : 가장 자주 사용(맨외-중간-맨오) */

  }
  
  .flex-container_2 > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .flex-container_2 {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
    flex-direction: column;
    justify-content: space-around; 
  }


